{{ template "layout" . }}
{{ define "content" }}
  {{ template "header" . }}

  <p>
    Musimy potwierdzić, że konto
    {{ .App.Config.RegistrationExistingPlayer.Nickname }} o nazwie użytkownika
    "{{ .Username }}" faktycznie należy do Ciebie, zanim zarejestrujesz jego UUID.
  </p>

  {{/* prettier-ignore-start */}}
  <p>
    Pobierz ten obraz i ustaw go jako swoją skórkę na swoim koncie
    {{ .App.Config.RegistrationExistingPlayer.Nickname }}
    {{ if .App.Config.RegistrationExistingPlayer.SetSkinURL }}, <a target="_blank" href="{{ .App.Config.RegistrationExistingPlayer.SetSkinURL }}">tutaj</a>{{ end }}.
  </p>
  {{/* prettier-ignore-end */}}

  <div style="text-align: center">
    <img
      src="data:image/png;base64,{{ .SkinBase64 }}"
      width="256"
      height="256"
      style="image-rendering: pixelated; width: 256px"
      alt="skórka weryfikacyjna {{ .App.Config.ApplicationName }}"
    />
    <p>
      <a
        download="{{ .SkinFilename }}"
        href="data:image/png;base64,{{ .SkinBase64 }}"
        >Pobierz skórkę</a
      >
    </p>
  </div>
  <p>
    Gdy to zrobisz, wpisz hasło do swojego konta {{ .App.Config.ApplicationName }} i kliknij
    "Zarejestruj".
  </p>
  <form action="{{ .App.FrontEndURL }}/web/register" method="post">
    <input
      type="text"
      name="username"
      value="{{ .Username }}"
      required
      hidden
    />
    <input type="password" name="password" placeholder="Hasło" required />
    <input type="checkbox" name="existingPlayer" checked hidden />
    <input hidden name="challengeToken" value="{{ .ChallengeToken }}" />
    <input hidden name="inviteCode" value="{{ .InviteCode }}" />
    <input hidden name="returnUrl" value="{{ .URL }}" />
    <input type="submit" value="Zarejestruj" />
  </form>

  {{ template "footer" . }}
{{ end }}