{{ define "footer" }}
  {{ if .App.Config.EnableFooter }}
  <hr />
  <small>
    Wersja Drasl {{ .App.Constants.Version }}. Licencjonowane na
    <a href="{{ .App.Constants.LicenseURL }}">{{ .App.Constants.License }}</a>.
    Kod źródłowy dostępny <a href="{{ .App.Constants.RepositoryURL }}">tutaj</a>.
    Tłumaczenie na język polski: Mateusz "ZiQu" Korniak.
  </small>
  {{ end }}
{{ end }}