{{ define "header" }}
  <nav class="header-nav">
    <div>
      <h1>
        <a class="logo" href="{{ .App.FrontEndURL }}">
          <img
            src="{{ .App.FrontEndURL }}/web/public/logo.svg"
            alt="Logo {{ .App.Config.ApplicationName }}"
          />{{ .App.Config.ApplicationName }}
        </a>
      </h1>
    </div>
    <div style="text-align: right">
      <a href="{{ .App.FrontEndURL }}/web/registration">Zarejestruj się</a>
      {{ if .User }}
        {{ if .User.IsAdmin }}
          <a href="{{ .App.FrontEndURL }}/web/admin">Admin</a>
        {{ end }}
        <a href="{{ .App.FrontEndURL }}/web/profile"
          >Profil użytkownika: {{ .User.Username }}</a
        >
        <form
          style="display: inline"
          action="{{ .App.FrontEndURL }}/web/logout"
          method="post"
        >
          <input type="submit" value="Wyloguj się" />
        </form>
      {{ end }}
    </div>
  </nav>

  {{ if .ErrorMessage }}
    <p class="error-message">{{ .ErrorMessage }}</p>
  {{ end }}
  {{ if .SuccessMessage }}
    <p class="success-message">{{ .SuccessMessage }}</p>
  {{ end }}
  {{ if .WarningMessage }}
    <p class="warning-message">{{ .WarningMessage }}</p>
  {{ end }}
{{ end }}