{{ template "layout" . }}

{{ define "title" }}Rejestracja - {{ .App.Config.ApplicationName }}{{ end }}

{{ define "content" }}
  {{ template "header" . }}
  {{ if .App.Config.RegistrationNewPlayer.Allow }}
    <h3>Rejestracja</h3>
    {{ if and .App.Config.RegistrationNewPlayer.RequireInvite (not .InviteCode) }}
      <p>Rejestracja jako nowy gracz jest dostępna tylko na zaproszenie.</p>
    {{ else }}
      {{ if .App.Config.RegistrationNewPlayer.AllowChoosingUUID }}
        <p>Zarejestruj nowe konto:</p>
      {{ else }}
        <p>Zarejestruj nowe konto z losowym UUID:</p>
      {{ end }}
      <form action="{{ .App.FrontEndURL }}/web/register" method="post">
        <input
          type="text"
          name="username"
          placeholder="Nazwa użytkownika"
          maxlength="{{ .App.Constants.MaxUsernameLength }}"
          required
        />
        <input
          type="text"
          name="email"
          placeholder="Pozostaw puste"
          class="honeypot"
        />
        <input
          type="password"
          name="password"
          placeholder="Hasło"
          minlength="{{ .App.Config.MinPasswordLength }}"
          class="long"
          required
        />
        {{ if .App.Config.RegistrationNewPlayer.AllowChoosingUUID }}
          <p>
            <input
              class="long"
              type="text"
              name="uuid"
              placeholder="UUID (pozostaw puste, aby było losowe)"
              pattern="^[0-9a-f]{8}-?[0-9a-f]{4}-?[0-9a-f]{4}-?[0-9a-f]{4}-?[0-9a-f]{12}$"
            />
          </p>
        {{ end }}
        <input type="text" name="inviteCode" value="{{ .InviteCode }}" hidden />
        <input hidden name="returnUrl" value="{{ .URL }}" />
        {{ if .InviteCode }}
          <p><em>Używasz kodu zaproszenia {{ .InviteCode }}</em></p>
        {{ end }}
        <p>
          <input type="submit" value="Zarejestruj" />
        </p>
      </form>
    {{ end }}
  {{ end }}
  {{ if .App.Config.RegistrationExistingPlayer.Allow }}
    <h3>Rejestracja z istniejącego konta</h3>
    {{ if and .App.Config.RegistrationExistingPlayer.RequireInvite (not .InviteCode) }}
      <p>Rejestracja z istniejącego konta jest dostępna tylko na zaproszenie.</p>
    {{ else }}
      {{ if .App.Config.RegistrationExistingPlayer.RequireSkinVerification }}
        <p>
          Zarejestruj nowe konto z UUID istniejącego konta
          {{ .App.Config.RegistrationExistingPlayer.Nickname }}.
          Wymagana weryfikacja, że posiadasz to konto.
        </p>
        {{ if .InviteCode }}
          <p><em>Używasz kodu zaproszenia {{ .InviteCode }}</em></p>
        {{ end }}
        <form action="{{ .App.FrontEndURL }}/web/challenge-skin" method="get">
          <input
            type="text"
            name="username"
            placeholder="Nazwa gracza {{ .App.Config.RegistrationExistingPlayer.Nickname }}"
            maxlength="{{ .App.Constants.MaxUsernameLength }}"
            required
          />
          <input
            type="text"
            name="inviteCode"
            value="{{ .InviteCode }}"
            hidden
          />
          <input hidden name="returnUrl" value="{{ .URL }}" />
          <input type="submit" value="Kontynuuj" />
        </form>
      {{ else }}
        <p>
          Zarejestruj nowe konto z UUID istniejącego konta
          {{ .App.Config.RegistrationExistingPlayer.Nickname }}.
        </p>
        <form action="{{ .App.FrontEndURL }}/web/register" method="post">
          <input
            type="text"
            name="username"
            placeholder="Nazwa gracza {{ .App.Config.RegistrationExistingPlayer.Nickname }}"
            maxlength="{{ .App.Constants.MaxUsernameLength }}"
            required
          />
          <input
            type="password"
            name="password"
            placeholder="Hasło"
            minlength="{{ .App.Config.MinPasswordLength }}"
            class="long"
            required
          />
          <input type="checkbox" name="existingPlayer" checked hidden />
          <input
            type="text"
            name="inviteCode"
            value="{{ .InviteCode }}"
            hidden
          />
          {{ if .InviteCode }}
            <p><em>Używasz kodu zaproszenia {{ .InviteCode }}</em></p>
          {{ end }}
          <input type="submit" value="Zarejestruj" />
        </form>
      {{ end }}
    {{ end }}
  {{ end }}
  {{ template "footer" . }}
{{ end }}