{{ template "layout" . }}

{{ define "title" }}{{ .App.Config.ApplicationName }}{{ end }}

{{ define "content" }}
  {{ template "header" . }}
  <h3>Logowanie</h3>
  <form action="{{ .App.FrontEndURL }}/web/login" method="post">
    <input type="text" name="username" placeholder="Nazwa użytkownika" required />
    <input
      class="long"
      type="password"
      name="password"
      placeholder="Hasło"
      required
    />
    <input type="submit" value="Zaloguj się" />
  </form>

  <h3>Konfiguracja klienta</h3>
  <p>
    Aby używać {{ .App.Config.ApplicationName }} w kliencie, potrzebujesz zewnętrznego launchera, który obsługuje
    niestandardowe serwery API. Polecamy
    <a href="https://github.com/ZiQu-dev/FjordLauncherPatched"></a>, forka FjordLaunchera, tylko spatchowanego dla rozgrywki Offline,
    <a href="https://github.com/unmojang/FjordLauncher">Fjord Launcher</a>, forka Prism Launcher'a, ale
    <a href="https://github.com/huanghongxun/HMCL">HMCL</a> również działa. Oba są darmowe i otwarto źródłowe.
  </p>

  <h4>Fjord Launcher</h4>

  <ol>
    <li>
      Kliknij swoje konto w prawym górnym rogu i wybierz "Zarządzaj kontami...".
    </li>
    <li>Kliknij "Dodaj authlib-injector" w prawym pasku bocznym.</li>
    <li>
      Wpisz swoją nazwę użytkownika i hasło, a następnie użyj
      <a href="{{ .App.AuthlibInjectorURL }}">{{ .App.AuthlibInjectorURL }}</a>
      jako URL. Kliknij "OK".
    </li>
  </ol>

  <h4>HMCL</h4>

  <ol>
    <li>
      Przejdź do widoku "Lista kont", klikając konto na górze paska bocznego.
    </li>
    <li>
      Na dole po lewej kliknij "Nowy serwer uwierzytelniania" i wpisz
      <a href="{{ .App.AuthlibInjectorURL }}">{{ .App.AuthlibInjectorURL }}</a>.
      Kliknij "Dalej", a następnie "Zakończ".
    </li>
    <li>
      Na pasku bocznym kliknij nowo dodany serwer uwierzytelniania, oznaczony
      jako "{{ .App.Config.InstanceName }}". Wpisz swoją nazwę użytkownika i hasło
      {{ .App.Config.ApplicationName }} i kliknij "Zaloguj".
    </li>
  </ol>

  <h4>Inne launchery</h4>

  <p>
    Użyj URL authlib-injectora
    <a href="{{ .App.AuthlibInjectorURL }}">{{ .App.AuthlibInjectorURL }}</a>.
  </p>

  <p>
    Lub, jeśli Twój launcher obsługuje niestandardowe serwery API, ale nie przez
    authlib-injectora, użyj poniższych adresów URL:
  </p>

  <table>
    <tr>
      <td>Serwer uwierzytelniania:</td>
      <td>{{ .App.AuthURL }}</td>
    </tr>
    <tr>
      <td>Serwer kont:</td>
      <td>{{ .App.AccountURL }}</td>
    </tr>
    <tr>
      <td>Serwer sesji:</td>
      <td>{{ .App.SessionURL }}</td>
    </tr>
    <tr>
      <td>Serwer usług:</td>
      <td>{{ .App.ServicesURL }}</td>
    </tr>
  </table>

  <h3>Konfiguracja serwera</h3>

  <h4>Minecraft 1.16 i nowsze</h4>

  W nowszych wersjach Minecrafta, możesz używać {{ .App.Config.ApplicationName }} na niezmodyfikowanym serwerze Vanilla.
  Aby to zrobić, dodaj poniższe argumenty przed określeniem pliku JAR przy uruchamianiu serwera:
  <pre style="word-wrap: break-word; white-space: pre-wrap; overflow-x: auto">
-Dminecraft.api.env=custom
-Dminecraft.api.auth.host={{ .App.AuthURL }}
-Dminecraft.api.account.host={{ .App.AccountURL }}
-Dminecraft.api.session.host={{ .App.SessionURL }}
-Dminecraft.api.services.host={{ .App.ServicesURL }}
  </pre
  >

  Na przykład pełne polecenie do uruchomienia serwera może wyglądać tak:
  <pre style="word-wrap: break-word; white-space: pre-wrap; overflow-x: auto">
java -Xmx1024M -Xms1024M \
    -Dminecraft.api.env=custom \
    -Dminecraft.api.auth.host={{ .App.AuthURL }} \
    -Dminecraft.api.account.host={{ .App.AccountURL }} \
    -Dminecraft.api.session.host={{ .App.SessionURL }} \
    -Dminecraft.api.services.host={{ .App.ServicesURL }} \
    -jar server.jar nogui</pre
  >

  <h4>Minecraft 1.15.2 i starsze</h4>

  <p>
    Zapoznaj się z dokumentacją authlib-injectora dotyczącą konfiguracji serwera:
    <a
      href="https://github.com/yushijinhun/authlib-injector/blob/develop/README.en.md#deploy"
      >https://github.com/yushijinhun/authlib-injector/blob/develop/README.en.md#deploy</a
    >.
  </p>

  <p>
    Alternatywnie, możesz zmodyfikować swój serwer, aby używał nowszej wersji authlib Mojanga,
    które wspiera niestandardowe API serwera.
    <a href="https://github.com/tinytengu/minecraft-authlib">https://github.com/tinytengu/minecraft-authlib</a>
  </p>

  {{ template "footer" . }}
{{ end }}